<div class="app-content-container">
  <nav>
    <a (click)="changeComp(0)" [ngClass]="{'active' : currentComp === 0 }">Weather</a>
    <a (click)="changeComp(1)" [ngClass]="{'active' : currentComp === 1 }">Question</a>
    <a (click)="changeComp(2)" [ngClass]="{'active' : currentComp === 2 }">Football</a>
  </nav>
  <div [ngSwitch]="currentComp">
    <app-weather *ngSwitchCase="0"></app-weather>
    <app-question *ngSwitchCase="1"></app-question>
    <app-football *ngSwitchCase="2"></app-football>
  </div>
</div>
